
.carros-section {
  max-width: 1308px;
  margin: auto;
  padding: 80px 0;
}

.carros-section .title {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.375rem;
  text-align: center;
  font-weight: 700;
  color: var(--text-dark);
}

.carros-section .subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: var(--text-dark);
  margin-bottom: 80px;
}

.carros-section #car-input {
  background-color: transparent;
  position: absolute;
  border: none;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  left: 0;
  padding-left: 50px;
}

.carros-section #car-input::placeholder, .carros-section #car-input {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: var(--text-car-card);
}

.carros-section #car-input:focus {
  outline-color: var(--bg-third);
}

.carros-section .car-input-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  margin-bottom: 40px;
  border: 2px solid var(--border-forth);
  border-radius: 50px;
  max-width: 400px;
}

.carros-section .car-input-container::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("/assets/images/search_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.carros-section .carros-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
