
:host .mat-mdc-form-field-error {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #e13939;
}

.carros-section {
  max-width: 1308px;
  margin: auto;
  padding: 60px 0;
}

.carros-section .title {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.375rem;
  text-align: center;
  font-weight: 700;
  color: var(--text-dark);
}

.carros-section .subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: var(--text-dark);
  margin-bottom: 60px;
}

.carros-section #car-input {
  background-color: transparent;
  position: absolute;
  border: none;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  left: 0;
  padding-left: 50px;
}

.carros-section #car-input::placeholder, .carros-section #car-input {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: var(--text-forth);
}

.carros-section #car-input:focus {
  outline-color: var(--bg-third);
}

.carros-section .car-input-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border: 2px solid var(--border-forth);
  border-radius: 50px;
  max-width: 400px;
  flex: 1;
}

.carros-section .car-input-container::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("/assets/images/search_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.carros-section .carros-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

#booking-form {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "locais data hora" "busca busca limpa";
  justify-content: center;
  align-items: center;
  gap: 20px;
  row-gap: 0;
  background-color: var(--bg-second);
  padding: 20px 20px 0;
  border-radius: 20px;
  margin-bottom: 60px;
}

.locais {
  grid-area: locais;
}

.data {
  grid-area: data;
}

.hora {
  grid-area: hora;
}

.busca {
  grid-area: busca;
}

.limpa {
  grid-area: limpa;
}

#dateRange {
  width: 100%;
}

.search-button.mat-mdc-unelevated-button:not(:disabled) {
  background-color: var(--mat-sys-secondary);
  border-radius: 10px;
  margin-bottom: 20px;
  height: 70%;
}

.clear-button.mat-mdc-unelevated-button:not(:disabled) {
  background-color: var(--mat-sys-tertiary);
  border-radius: 10px;
  margin-bottom: 20px;
  height: 70%;
}

::ng-deep .mat-mdc-slide-toggle .mdc-label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: var(--text-forth);
  font-weight: 700;
}

.options {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 40px;
}

.button-container {
  padding: 40px;
  text-align: center;
}

.button-ver-mais {
  color: var(--text-button-contrasted);
  background-color: var(--text-forth);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-ver-mais:hover {
  background-color: var(--bg-third);
}

.reserva-form.modal {
  display: flex;
}

.overlay.modal {
  display: block;
}

.reserva-form {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-second);
  padding: 80px;
  border-radius: 10px;
  z-index: 1001;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.close-button {
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.reserva-form h1 {
  font-weight: 900;
  font-size: 1.56rem;
  color: var(--text-light);
}

.reserva-form h2 {
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-light);
}

.reserva-form p {
  color: var(--text-light);
  font-weight: 700;
  font-size: 0.875rem;
}

.reserva-form .horario-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.reserva-form .reserva-inputs {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 15px;
  width: 420px;
}

.reserva-form .reserva-inputs input {
  outline: none;
  width: 100%;
  border: 2px solid var(--bg-principal);
  background: var(--bg-principal);
  color: var(--text-dark);
  padding: 20px 20px 20px 55px;

  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.reserva-form .reserva-inputs input:focus {
  border: 2px solid var(--bg-third);
  box-shadow: 0 0 8px rgba(212, 178, 140, 0.5);
}

.reserva-form .reserva-inputs .input-wrapper {
  position: relative;
  width: 100%;
}

.reserva-form .reserva-inputs .input-wrapper::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.reserva-form .reserva-inputs .icon-name::before {
  background-image: url("/assets/images/reserva-icons/icon-user.svg");
}

.reserva-form .reserva-inputs .icon-email::before {
  background-image: url("/assets/images/reserva-icons/icon-mail.svg");
}

.reserva-form .reserva-inputs .icon-cpf::before {
  background-image: url("/assets/images/reserva-icons/icon-cpf.svg");
}

.reserva-form .reserva-inputs .icon-telefone::before {
  background-image: url("/assets/images/reserva-icons/call.svg");
}

.reserva-form .reserva-inputs .button-reserva-form {
  position: relative;
  padding: 20px;
  text-align: start;
  background-color: var(--bg-third);
  border: none;
  color: var(--text-button-contrasted);
  font-size: 0.85rem;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.reserva-form .reserva-inputs .button-reserva-form:hover {
  background-color: var(--bg-button-default-hover);
}

.reserva-form .reserva-inputs .button-reserva-form::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 20px;
  background-image: url("/assets/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 42, 36, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.confirmation-overlay.active {
  opacity: 1;
  visibility: visible;
}

.confirmation-card {
  background: rgba(4, 20, 15, 0.92);
  padding: 60px 50px;
  border-radius: 12px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  transform: translateY(30px);
  transition: transform 0.4s ease;
  position: relative;
}

.confirmation-overlay.active .confirmation-card {
  transform: translateY(0);
}


.confirmation-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #BC9852;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.confirmation-logo {
  width: 130px;
  margin: 0 auto 25px;
  display: block;
}


.confirmation-message {
  color: var(--text-button-contrasted);
  line-height: 1.6;
  margin-bottom: 25px;
  font-size: 1rem;
  font-weight: 200;
}

.confirmation-button {
  background: var(--bg-button-default);
  color:var(--text-button-contrasted);
  border: none;
  padding: 15px 40px;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: inline-block;
}

.confirmation-button:hover {
  background-color: var(--bg-button-default-hover);
}
