<section class="carros-section">
  <h1 class="title">Veja nossos melhores carros</h1>
  <p class="subtitle">Conduza a experiência de viver o extraordinário</p>


  <form id="booking-form" [formGroup]="bookingForm">

    <mat-form-field class="locais">
      <mat-label>Onde você quer retirar o carro?</mat-label>
      <mat-select formControlName="pickupLocation" id="locations">
        <mat-option value="Aeroporto Congonhas">Aeroporto Congonhas</mat-option>
        <mat-option value="Aeroporto Catarina">Aeroporto Catarina</mat-option>
        <mat-option value="Filial Faria Lima">Filial Faria Lima</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field id="dateRange" class="data">
      <mat-label>Insira o período de reserva</mat-label>
      <mat-date-range-input formGroupName="dateRange" [rangePicker]="datePicker" [min]="minDate">
        <input matStartDate placeholder="Data Retirada" formControlName="startDate">
        <input matEndDate placeholder="Data Devolução" formControlName="endDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #datePicker></mat-date-range-picker>
      @if (bookingForm.get('dateRange.startDate')?.hasError('matDatepickerParse')) {
        <mat-error>Data de retirada com formato inválido</mat-error>
      }
      @if (bookingForm.get('dateRange.endDate')?.hasError('matDatepickerParse')) {
        <mat-error>Data de devolução com formato inválido</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="hora">
      <mat-label>Hora de retirada e devolução</mat-label>
      <input matInput formControlName="time" [matTimepicker]="timePicker" matTimepickerMin="08:00" matTimepickerMax="20:00">
      <mat-timepicker-toggle matIconSuffix [for]="timePicker"/>
      <mat-timepicker #timePicker/>
      @if (bookingForm.get('time')?.hasError('matTimepickerParse')) {
        <mat-error>Formato de hora inválido</mat-error>
      }
      @if (bookingForm.get('time')?.hasError('matTimepickerMin')) {
        <mat-error>Estamos fechados nesse horário (Min. 08:00)</mat-error>
      }
      @if (bookingForm.get('time')?.hasError('matTimepickerMax')) {
        <mat-error>Estamos fechados nesse horário (Max. 20:00)</mat-error>
      }
    </mat-form-field>

    <button matButton="filled" class="search-button busca" (click)="search()">Buscar Disponibilidade</button>
    <button type="button" matButton="filled" class="clear-button limpa" (click)="clearForm()">Limpar</button>
  </form>

  <span class="car-input-container">
    <input type="text" name="car" id="car-input" placeholder="Busque um modelo" [(ngModel)]="filtro" (input)="aplicarFiltro()">
  </span>

  <div class="carros-cards">
    @for (carro of listaCarrosExibidos; track carro) {
      <app-carros-card [carro]="carro"></app-carros-card>
    }
  </div>

  @if (listaCarrosExibidos.length < listaFiltrada.length) {
    <div class="button-container">
      <button class="button-ver-mais" (click)="aumentarLista()">Veja mais</button>
    </div>
  }
</section>
