<h1 class="painel-title">Painel Administrativo - Carros</h1>

<div class="content-container">
  <button class="btn-incluir" (click)="abrirModalInclusao()">Novo Veículo</button>

  <div class="table-wrapper">
    <table>
      <thead>
      <tr>
        <th>Imagem</th>
        <th>Marca</th>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Motor</th>
        <th>Potência</th>
        <th>Assentos</th>
        <th>Filial</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
        @for (carro of listaCarros; track carro) {
          <tr>
            <td id="image-url">{{ carro.imageUrl }}</td>
            <td>{{ carro.carBrand }}</td>
            <td>{{ carro.title }}</td>
            <td>{{ carro.description }}</td>
            <td>{{ carro.engine }}</td>
            <td>{{ carro.power }}</td>
            <td>{{ carro.seats }}</td>
            <td>{{ carro.location }}</td>
            <td>
              <div class="actions-container">
                <button class="button-editar" (click)="abrirModalEdicao(carro)">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.16634 4.16667H4.99967C4.55765 4.16667 4.13372 4.34226 3.82116 4.65483C3.5086 4.96739 3.33301 5.39131 3.33301 5.83334V15C3.33301 15.442 3.5086 15.866 3.82116 16.1785C4.13372 16.4911 4.55765 16.6667 4.99967 16.6667H14.1663C14.6084 16.6667 15.0323 16.4911 15.3449 16.1785C15.6574 15.866 15.833 15.442 15.833 15V10.8333M14.6547 2.98834C14.8084 2.82915 14.9923 2.70218 15.1957 2.61483C15.399 2.52749 15.6177 2.48151 15.839 2.47959C16.0603 2.47766 16.2798 2.51983 16.4846 2.60363C16.6894 2.68744 16.8755 2.81119 17.032 2.96768C17.1885 3.12417 17.3122 3.31025 17.396 3.51508C17.4798 3.71991 17.522 3.93937 17.5201 4.16067C17.5182 4.38197 17.4722 4.60067 17.3848 4.80401C17.2975 5.00735 17.1705 5.19126 17.0113 5.345L9.85634 12.5H7.49967V10.1433L14.6547 2.98834Z" stroke="#2E65F3" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
                <button class="button-excluir" (click)="abrirModalExcluir(carro)">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.33301 9.16667V14.1667M11.6663 9.16667V14.1667M3.33301 5.83333H16.6663M15.833 5.83333L15.1105 15.9517C15.0806 16.3722 14.8924 16.7657 14.5839 17.053C14.2755 17.3403 13.8696 17.5 13.448 17.5H6.55134C6.12979 17.5 5.7239 17.3403 5.41541 17.053C5.10693 16.7657 4.91877 16.3722 4.88884 15.9517L4.16634 5.83333H15.833ZM12.4997 5.83333V3.33333C12.4997 3.11232 12.4119 2.90036 12.2556 2.74408C12.0993 2.5878 11.8874 2.5 11.6663 2.5H8.33301C8.11199 2.5 7.90003 2.5878 7.74375 2.74408C7.58747 2.90036 7.49967 3.11232 7.49967 3.33333V5.83333H12.4997Z" stroke="#F32D2D" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (isModalAberto) {

  <div class="overlay" (click)="fecharModal()"></div>

  <div class="modal-panel">

    <button class="close-button" (click)="fecharModal()"><img src="assets/images/reserva-icons/close.svg"
                                                              alt="X para fechar modal"></button>

    @if (modo === 'editar') {
      <h2 class="modal-title">Editar Carro</h2>
    } @else {
      <h2 class="modal-title">Incluir Novo Carro</h2>
    }

    <form #modalForm="ngForm" class="modal-form" (ngSubmit)="submeter()">
      @if (modo !== 'incluir') {
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" id="id" [(ngModel)]="carroAtual.id" name="id" [disabled]="true">
        </div>
      }

      <div class="form-group">
        <label for="imageUrl">URL da Imagem</label>
        <input type="text" id="imageUrl" [(ngModel)]="carroAtual.imageUrl" name="imageUrl" placeholder="Digite a url da imagem" required>
      </div>

      <div class="form-group">
        <label for="carBrand">Marca</label>
        <input type="text" id="carBrand" [(ngModel)]="carroAtual.carBrand" name="carBrand" placeholder="Digite a marca" required>
      </div>

      <div class="form-group">
        <label for="title">Título</label>
        <input type="text" id="title" [(ngModel)]="carroAtual.title" name="title" placeholder="Digite o título" required>
      </div>

      <div class="form-group">
        <label for="description">Descrição</label>
        <input type="text" id="description" [(ngModel)]="carroAtual.description" name="description" placeholder="Digite a descrição" required>
      </div>

      <div class="form-group">
        <label for="engine">Motor</label>
        <input type="text" id="engine" [(ngModel)]="carroAtual.engine" name="engine" placeholder="Digite a motorização (exemplo: V10)" required>
      </div>

      <div class="form-group">
        <label for="power">Potência</label>
        <input type="text" id="power" [(ngModel)]="carroAtual.power" name="power" placeholder="Digite a potência (exemplo: 500cv)" required>
      </div>

      <div class="form-group">
        <label for="seats">Assentos</label>
        <input type="number" id="seats" [(ngModel)]="carroAtual.seats" name="seats" placeholder="Insira a quantidade de assentos" required>
      </div>

      <div class="form-group">
        <label for="location">Filial</label>
        <input type="text" id="location" [(ngModel)]="carroAtual.location" name="location" placeholder="Digite a filial" required>
      </div>

      @if(modo === 'incluir') {
        <button type="submit" class="button-salvar" [disabled]="modalForm.invalid">Adicionar</button>
      }
      @else {
        <button type="submit" class="button-salvar" [disabled]="modalForm.invalid">Editar</button>
      }
    </form>
  </div>
}

@if (modalExcluir) {
  <div class="delete-overlay">
    <div class="delete-modal">
      <h2>Excluir Carro</h2>
      <p>
        Tem certeza que deseja excluir o carro
        <strong>{{ carroExcluir?.title }}</strong>?
      </p>

      <div class="delete-buttons">
        <button class="btn-confirm" (click)="excluir()">Sim</button>
        <button class="btn-cancel" (click)="fecharModalExcluir()">Não</button>
      </div>
    </div>
  </div>
}
