.video-container {
  width: 100%;
  height: 500px;
}

.hero-video {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.experiencia-status {
  padding: 80px 5%;
  text-align: center;
}

.titulo-secao {
  font-size: 2.5em;
  color: var(--mat-sys-primary);
  margin-bottom: 50px;
  font-family: 'Cormorant Garamond';

}

.conteudo-principal{
  display: flex; /*deixa um do lado do outro*/
  align-items: center;
  justify-content: center;
  gap: 60px;
  text-align: left;
  flex-wrap: wrap;

}


.imagem-luxcar {
  width: 450px;
  height: 390px;
  object-fit: cover;
  border-radius: 12px; 
  flex-shrink: 0;
}



.bloco-texto{
  max-width:400px;
  display: flex;
  align-items:center;
  flex-direction: column;
  gap: 20px;
}


.bloco-texto p {
  font-size: 1em;
  line-height: 1.6;
  color: var(--mat-sys-primary);
}


.btn-frota {
  background-color: var(--mat-sys-secondary);
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 500;
  transition: background 0.3s ease;
  display: inline-block;
  align-self: flex-start;
}

.btn-frota:hover {
  background-color: #4d2600;
}
