.video-container {
  width: 100%;
  height: 500px;
}

.hero-video {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.experiencia-status {
  padding: 80px 5%;
  text-align: center;
}

.titulo-secao {
  font-size: 2.5em;
  color: var(--mat-sys-primary);
  margin-bottom: 50px;
  font-family: 'Cormorant Garamond';

}

.conteudo-principal {
  display: flex;
  /*deixa um do lado do outro*/
  align-items: center;
  justify-content: center;
  gap: 60px;
  text-align: left;
  flex-wrap: wrap;

}


.imagem-luxcar {
  width: 450px;
  height: 390px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}



.bloco-texto {
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


.bloco-texto p {
  font-size: 1em;
  line-height: 1.6;
  color: var(--mat-sys-primary);
}


.btn-frota {
  background-color: var(--mat-sys-secondary);
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 500;
  transition: background 0.3s ease;
  display: inline-block;
  align-self: flex-start;
}

.btn-frota:hover {
  background-color: #4d2600;
}



/* ================================== Benefícios ======================================================= */
.beneficios {
  background-color: var(--mat-sys-on-primary-fixed);
  color: #f1e9c6;
  padding: 90px 20px;
}

.beneficios-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.beneficios h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.beneficios-subtitle {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 65px;
}

/* GRID — 3 cards por linha fixo em telas grandes */
.beneficios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;

}

/* CARDS */

.beneficio-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.beneficio-card {
  border: 3px solid #c8a96c;
  padding: 45px 28px;
  transition: 0.3s ease-in-out;


}


.beneficio-card:hover {
  transform: translateY(-6px);
  background-color: rgba(200, 169, 108, 0.04);
  box-shadow: 0 0 18px rgba(200, 169, 108, 0.8);
  border-color: #e3c98b;
}



.beneficio-icon img {
  width: 120px;
  height: 140px;
  object-fit: contain;
  margin-bottom: 18px;
}

.beneficios h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #f1e9c6;
}



/* TÍTULO */
.beneficio-card h3 {
  font-family: Montserrat;
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #c8a96c;
}

/* TEXTO */
.beneficio-card p {
  font-size: 1rem;
  line-height: 1.6;
}