
.nav-container {
  position: relative;
  background-color: var(--bg-second);
  padding: 20px;
}

.nav-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1310px;
}

.nav-links {
  display: none;
  gap: 35px;
  list-style: none;
}

.nav-links.opened {
  display: flex;
  flex-wrap: wrap;
}

.nav-links .nav-link {
  color: var(--text-light);
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color ease-in-out .15s;
}

.nav-links .nav-link:hover {
  border-bottom-color: var(--text-light);
}

.nav-links .nav-link.active {
  border-bottom-color: var(--text-light);
}

.button-open-links {
  position: absolute;
  right: 20px;
  top: 5vh;
  background: none;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 5px;
}
.button-open-links.active {
  border: 2px solid var(--text-light);
  border-radius: 10px;
}

@media (min-width: 480px) {
  .nav-links {
    display: flex;
  }

  .button-open-links {
    display: none;
  }
}

@media(max-width: 480px) {
  .nav-content {
    flex-direction: column;
    gap: 20px;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
  }

  .nav-container div {
    align-items: flex-start;
    margin: 0;
  }
}
