@import 'app/themes/luxcar_themetheme.css';

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Variáveis Base */

  /* Backgrounds */
  --bg-principal: #f5f5dc;
  --bg-second: #0d2a24;
  --bg-third: #a97142;
  --border-forth: #503620;

  /* Texts */
  --text-light: #d1c7b8;
  --text-dark: #36454f;
  --text-contrast: #a97142;
  --text-button-contrasted: #f5f5dc;
  --text-gold: #bc9852;
  --text-form: #424242;
  --text-title-login-form: #212121;
  --text-car-card: #503620;

  /* Buttons */
  --bg-button-default: #a97142;
  --bg-button-login: #0d2a24;
  --bg-button-car-card: #503620;

  --mat-sys-body-medium: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg-principal);
  font-family: "Montserrat", sans-serif !important;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
